@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  :root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-family: sans-serif;
    color: #333;
  }

  /* layout */

  body {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Open Sans", "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #fff;
  }
  .no-scroll {
    overflow: hidden;
    /* Optional: To account for scrollbar width and prevent content shifting */
    padding-right: var(10px, 0px);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1f2937;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
